.form-login{
  position: fixed;
  top: 10vh;
  left: 5vw;
  background-color: #fff;
  width: 430px;
  
  z-index: 10000;
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-box-shadow: -5px 3px 28px 3px rgba(255,206,7,0.46); 
box-shadow: -5px 3px 28px 3px rgba(255,206,7,0.46);

  &__encabezado{
    position:relative;
    display: block;
  
    text-align: center;
    img{
      margin-bottom: 30px;
  
    }
    h1{
      color: #ffce07;
    }
    h2{
      color: #1d285a;
    }
    p{
      margin-bottom: 30px !important;
      font-family: 'Goya-Web';
      color: #1d285a;
      text-align: left;
      font-size: 20px;
    }
  }
  &__inputs{
    position: relative;
    display:flex;
    flex-flow: column nowrap;
    
    input{
      margin-bottom:30px;
      background-color: #1d285a;
      color: #fff;
      border: 0.5px solid #1d285a;
      border-radius: 20px;
      padding: 15px 20px;
    }
  }
  &__submit{
    
    text-align: right;

    button{
      color: #1d285a;
      
      p{
        padding: 13px 10px 2px 10px;
        font-family: 'Goya-Bold';
        font-size: 15px;
        margin-bottom: 0px;
      }
        padding: 5px 20px;
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
        
        background: #f8e20b;
        border: 3px solid#f8e20b;
        border-radius: 5px;
        -webkit-transition: all .9s ease;
        transition: all .9s ease;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        
        &:hover{
          background: #1d285a;
          color: #FFF;
          border: 3px solid #1d285a;
          -webkit-transition: all .9s ease;
          transition: all .9s ease;
        
        }
        &:active{
          -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
        }
    }
  }
}


.cObeyd .slide-button-button-svg svg {
  opacity: 0.5;
    width: 28px !important;
    height: 28px !important;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: #FFF;
}

.sc-pVTma {
  display: none !important;
}


#rectangle {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 70px;
  left: -3px;
  position: absolute;
  width: 50px;
  height: 25px;
  background: #234b91;
}

/* FOOTER */

.footer{
  position:fixed;
  width: 100vw;
  bottom: 0px;
  left: 0px;
  z-index: 10000;

  display: flex;
  background-color:#f8e20b;
  height:95px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(254,254,254,0.5); 
box-shadow: 5px 5px 15px 5px rgba(254,254,254,0.5);

  img{
    max-width: 42%;
    float: left;
    left: 5vw
  }

  p{
    letter-spacing: 1.5px;
    font-size: 15px;
    color: #234b91;
    line-height: 100px;
    align-items: center;
    

  }
  
}

.box-basket{
  position: fixed;
  width: 384px;;
  top: calc(10vh + 600px);
  left: 150px;
  z-index: 10000;
}

/* BK SECTION */

.bk-slide{
  background-image:
  linear-gradient(to bottom, rgba(2,0,36,1), rgba(29, 81, 255, 0.712)),
  



  &-1{
    background-image:
  linear-gradient(to bottom, rgba(2,0,36,1), rgba(29, 81, 255, 0.712)),
  
  }

  &-2{
    background-image:
  linear-gradient(to bottom, rgba(2,0,36,1), rgba(0, 57, 245, 0.712)),



  }

  &-3{
    background-image:
  linear-gradient(to bottom, rgba(2,0,36,1), rgba(1, 49, 208, 0.712)),


  }

  &-4{
    background-image:
  linear-gradient(to bottom, rgba(2,0,36,1), rgba(1, 42, 176, 0.712)),
 

  }
  
  &-5{
    background-image:
  linear-gradient(to bottom, rgba(2,0,36,1), rgba(1, 37, 154, 0.712)),
 


  }

  &-6{
    background-image:
  linear-gradient(to bottom, rgba(2,0,36,1), rgba(0, 27, 113, 0.712)),
 
  }

  &-7{
    background-image:
  linear-gradient(to bottom, rgba(2,0,36,1), rgba(0, 29, 125, 0.712)),

  }

  &-8{
    background-image:
  linear-gradient(to bottom, rgba(2,0,36,1), rgba(3, 30, 126, 0.712)),
 
  }
}
