.form-login{
  position: fixed;
  top: 30vh;
  left: 5vw;
  background-size: cover !important;
  background-repeat: no-repeat;
  background: url('../../img/patt-logo.svg'),#212121;
  width: 430px;
  z-index: 10000;
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  -webkit-box-shadow: -5px 3px 28px 3px rgba(0, 0, 0, 0.829); 
box-shadow: -5px 3px 28px 3px rgba(15, 15, 15, 0.829);

  &__encabezado{
    position:relative;
    display: block;
  
    text-align: center;
    img{
      margin-bottom: 30px;
  
    }
    h1{
      color: #fefefe;
    }
    h2{
      color: #1d285a;
    }
    p{
      margin-bottom: 30px !important;
      color: #fefefe;
      text-align: left;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  &__inputs{
    position: relative;
    display:flex;
    flex-flow: column nowrap;

    ::placeholder{
      color: #fefefe86;
      

    }
    
    input{
      margin-bottom:30px;
      background-color: #00183667;
      color: #fefefe;
      border: 1.5px solid #fefefe;
      border-radius: 2px;
      padding: 15px 20px;
      font-size: 15px;
      font-weight: bold;
      box-shadow: 0 8px 6px -6px black;
    }
  }
  &__submit{
    
    text-align: right;

    button{
      color: #fefefe;
      
      p{
        padding: 1px;
        font-weight: bolder;
        font-size: 15px;
        padding: 10px;
       
      }
       
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
        background: #00183667;
        border: 1px solid#fefefe;
        -webkit-transition: all .9s ease;
        transition: all .9s ease;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        
        &:hover{
          background: #dd363a;
          color: #FFF;
          border: 3px solid #ffffff;
          -webkit-transition: all .9s ease;
          transition: all .9s ease;
        
        }
        &:active{
          -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
        }
    }
  }
}




