.Top-Bar{
    position: fixed;
    z-index: 999999999;
    background-color: rgba(255, 255, 255, 0.678);
    box-shadow: 0 8px 6px -6px black;
    border: 1px solid #fff;
    height: 100px;
    width: 100%;

    img{
        max-width: 10%;
    }
}